<div class="card">
  <div class="card-body">
    <form [formGroup]="theForm" novalidate autocomplete="off">

      <div class="card">
        <div class="card-header">
          Basic Info
        </div>
        <div class="card-body">
          <app-customer-basic [basicFormGroup]="theForm.get('basic')"></app-customer-basic>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
          Address
        </div>
        <div class="card-body">
          <app-customer-address [countries]="countries$ | async" [addressFormGroup]="theForm.get('address')"></app-customer-address>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
          Credit Cards
        </div>
        <div class="card-body">
          <app-customer-credit-cards [creditCardsFormArray]="theForm.get('creditCards')"></app-customer-credit-cards>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="!theForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
