<div class="card">
  <div class="card-body">
      <div class="card">
        <div class="card-header">
          Basic Info
        </div>
        <div class="card-body">
          <app-customer-basic></app-customer-basic>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
          Address
        </div>
        <div class="card-body">
          <app-customer-address [countries]="countries$ | async"></app-customer-address>
        </div>
      </div>

      <div class="card mt-3">
        <div class="card-header">
          Credit Cards
        </div>
        <div class="card-body">
          <app-customer-credit-cards></app-customer-credit-cards>
        </div>
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-primary" [disabled]="!formIsValid">Submit</button>
      </div>
  </div>
</div>
