<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">
    <img src="../assets/angular_athens.jpeg" />
    Reactive Forms</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <!-- <a class="nav-item nav-link" [routerLink]="['/auth']">auth</a>
      <a class="nav-item nav-link" [routerLink]="['/hotels']">hotels</a>
      <a class="nav-item nav-link" [routerLink]="['/museums']">museums</a> -->
    </div>
  </div>
</nav>
<div class="container">
  <app-customer-master></app-customer-master>
</div>
<!-- <footer class="footer">
  <div class="navbar-expand m-auto navbar-text">
    prodromouf@gmail.com
  </div>
</footer> -->
